# Byte-compiled files
__pycache__
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.egg-info/
*.egg
*.egg-info/

# Python-specific files
*.pyc
*.pyo
*.pyd

# Jupyter Notebook files
.ipynb_checkpoints/

# Test and coverage artifacts
*.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log
*.mo
*.pot
*.swp

# IDE and editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db
